<section class="srviceDetail">
  <div class="hero_banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 d-flex align-items-end">
                <div class="content_box w-100">
                    <h1 class="lmm_h1">{{bannerData.heading | uppercase}}</h1>
                    <p class="text-justify">{{bannerData.description}}</p>
                    <a href="" class="lmm_arrow_btn mt-3">view work</a>
                </div>
            </div>
            <div class="col-md-6 ml-auto">
              <div class="banner_lottie h-100 d-flex justify-content-center align-items-center">
                <lottie-player class="lottie_player lottie_design" *ngIf="bannerData.title === 'design'" id="design" src="https://assets8.lottiefiles.com/temp/lf20_msuxqj.json" autoplay  loop></lottie-player>
                <lottie-player class="lottie_player lottie_design" *ngIf="bannerData.title === 'branding'" id="branding" src="https://assets7.lottiefiles.com/packages/lf20_RlreTX.json" autoplay  loop></lottie-player>
                <lottie-player class="lottie_player lottie_design" *ngIf="bannerData.title === 'marketing'" id="marketing" src="https://assets4.lottiefiles.com/packages/lf20_BB6RdX.json" autoplay  loop></lottie-player>
                <lottie-player class="lottie_player lottie_design" *ngIf="bannerData.title === 'apps_websites'"id="apps_Websites" src="https://assets2.lottiefiles.com/packages/lf20_Dgwlc9.json" autoplay  loop></lottie-player>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="serviceDetail_wrap_1 py-5 my-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="row">
            <div class="col-md-6 my-5 py-5" *ngFor="let item of pageContentData.pageContent">
              <div class="content_box px-5 mx-5 m-auto">
                <h1 class="lmm_h5">{{item.heading}}</h1>
                <p class="text-justify">{{item.description}}</p>
                <a href="" class="lmm_arrow_btn mt-3">view work</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="footer_monkey">
    <div class="container-fluid">
      <div class="landing_footer">
        <div class="row position-relative">
          <div class="footer_des w-50 m-auto">
            <p class="text-white text-left">Have a project in mins ?</p>
            <span class="lmm_h1 text-white my-5 d-block">Let's have some fun together !</span>
            <a href="" class="d-block mt-5"><app-lmm-button ButtonText="reach out"></app-lmm-button></a>
          </div>
          <div class="footer_video ml-auto">
            <video src="../../../assets/media/video/footer_jumpingvideo.mp4" muted autoplay loop></video>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>
