<div class="monkey_wrap">
  <div class="container-fluid">
    <div class="row position-relative">
      <div class="footer_des w-50 m-auto">
        <p class="text-white text-left">Have a project in mind?</p>
        <span class="lmm_h1 text-white mt-4  mb-5 d-block pt-2">We’re excited to hear all about your brand!</span>
        <a href="" class="d-block mt-5"><app-lmm-button ButtonText="let's talk" link="/contact"></app-lmm-button></a>
      </div>
      <div class="footer_video ml-auto">
        <video src="../../../assets/media/video/footer_jumpingvideo.mp4" #monkeyVideo muted autoplay loop></video>
      </div>
    </div>
  </div>
</div>
