<section class="mobLabs">
  <div class="hero_banner">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-10 m-auto h-100 d-flex justify-content-center align-items-center">
            <div class="banner_content text-center">
              <h1 class="lmm_h1 text-white">loud mob labs</h1>
              <p class="text-justify text-white mt-3">We make targeted marketing smarter with our homegrown products. Exploiting the latest technological advancements like Facial recognition and augmented reality, we create an emotional connect with your consumers.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lab_wrap_1 d-flex justify-content-center align-items-center position-relative">
    <div class="container-fluid">
      <div class="row">
        <video src="../../../assets/media/video/loudMobLab/loudar.mp4" muted autoplay loop></video>
        <div class="col-md-10 m-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="content_box text-center">
                <h1 class="lmm_h1 text-white w-50">loud AR</h1>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content_box text-right">
                <p class="w-75 text-white text-right ml-auto pb-5 pt-5">People don't buy products, they buy brands. Augmented reality brings the experience of the online world, offline. By providing a unique experience we increase your brand recall value.</p>
                <a class="ml-auto d-flex justify-content-end"><app-lmm-button ButtonText="let's talk" link="/contact"></app-lmm-button></a>
              </div>
            </div>
          </div>
        </div>
        <!-- <h1 class="lmm_h5_stroke"><span>imagine</span><span>experience</span><span>engage</span></h1> -->
        <div class="mob_lmm_marquee_plugin"><app-rail-text text="imagine &nbsp;  experience &nbsp; engage"></app-rail-text></div>
      </div>
    </div>
  </div>
  <div class="lab_wrap_2 d-flex justify-content-center align-items-center position-relative">
    <div class="container-fluid">
      <div class="row">
        <video src="../../../assets/media/video/loudMobLab/loudcam.mp4" muted autoplay loop></video>
        <div class="col-md-10 m-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="content_box text-left pt-5">
                <p class="text-white text-left w-75 pb-5">Using facial recognition technology we help scale the ROI of your digital signages and billboards to the maximum. Now your digital signages and plasmas will show content relevant to who's watching like google does it online</p>
                <a class="my-5"><app-lmm-button ButtonText="let's talk" link="/contact"></app-lmm-button></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content_box text-center">
                <h1 class="lmm_h1 text-white w-50 ml-auto">loud CAM</h1>
              </div>
            </div>
          </div>
        </div>
        <!-- <h1 class="lmm_h5_stroke"><span>analyse</span><span>predict</span><span>target</span></h1> -->
        <div class="mob_lmm_marquee_plugin"><app-rail-text text="&nbsp; analyse  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  predict &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; target&nbsp;"></app-rail-text></div>
      </div>
    </div>
  </div>
</section>
