<div class="hero_banner services_banner">
  <div class="container-fluid overflow-hidden">
      <div class="row position-relative">
          <div class="col-md-4 d-flex align-items-start">
              <div class="content_box w-100">
                  <h1 class="lmm_h1">services</h1>
                  <p class="text-justify">Our goal is to always create amazing brands, experiences and technologies that leave an impressionable mark, generate curiosity and get the people talking. With an obsession to innovate, we’re dedicated to cultivating fresh and bold ideas for ambitious businesses across entertainment, lifestyle, innovation and retail. We work with you end-to-end to create unique solutions, (bringing ideas of all kind to life) and building strategic values, making thousands of decisions both strategic and creative along the way. </p>
                  <a routerLink="/caseStudy" class="lmm_arrow_btn mt-3">view case studies</a>
              </div>
          </div>
          <div class="video">
            <video muted autoplay loop>
              <source src="../../../assets/media/video/services/Services Header.mp4">
            </video>
          </div>
      </div>
  </div>
</div>
<div class="service_hero">
  <div class="container-fluid">
      <div class="services_box" *ngFor="let item of services">
          <div class="lmm_marquee_plugin"><app-rail-text [text]="item.scrollText"></app-rail-text></div>
          <div class="row">
              <div class="col-1"></div>
              <div class="col-md-11">
                  <h1 class="lmm_h5 mb-n5">{{item.name}}</h1>
                  <div class="row mb-5 pb-5 mt-n5">
                      <div class="col-md-5 d-flex justify-content-center align-items-end">
                          <div class="content">
                              <p class="pr-5 text-justify">{{item.content}}</p>
                              <a [routerLink]="item.href" class="lmm_arrow_btn mt-5">view work</a>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="box"></div>
                              </div>
                              <div class="col-md-6 pr-5">
                                  <div class="box box1 ml-0"></div>
                                  <a class="d-flex service_btn justify-content-end"><app-lmm-button ButtonText="read more" [routerLink]="item.readmore_href"></app-lmm-button></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
