<div class="hero_banner">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 d-flex align-items-end">
              <div class="content_box w-100">
                  <h1 class="lmm_h1">SERVICES</h1>
                  <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam inventore necessitatibus debitis excepturi at aperiam dicta quo esse fuga non harum architecto ipsam perferendis ipsa eligendi sequi modi nisi nulla eaque, quidem ullam velit quae tenetur. Ipsam illo libero quae nesciunt deleniti facilis earum, et quos delectus odio repellendus sed!</p>
                  <a href="" class="lmm_arrow_btn mt-3"><i>&#8594;</i>view work</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="service_hero">
  <div class="container-fluid">
      <div class="services_box" *ngFor="let item of data">
          <div class="lmm_marquee_plugin"><app-rail-text text="MOTION DESIGN 3D DESIGN ANIMATION"></app-rail-text></div>
          <div class="row">
              <div class="col-1"></div>
              <div class="col-md-11">
                  <h1 class="lmm_h5">design</h1>
                  <div class="row mb-5 pb-5">
                      <div class="col-md-5 d-flex justify-content-center align-items-end">
                          <div class="content">
                              <p class="pr-5 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda beatae inventore nisi est voluptatibus praesentium commodi eligendi eveniet nesciunt aliquam? Voluptatibus magnam dolorum, possimus veniam molestiae ipsa quam! Eligendi assumenda ab quisquam illo sunt odit, exercitationem harum earum iure ipsam voluptatum animi suscipit molestias magnam vero praesentium consequuntur officia at.</p>
                              <a href="" class="lmm_arrow_btn mt-5"><i>&#8594;</i>view work</a>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="box"></div>
                              </div>
                              <div class="col-md-6 pr-5">
                                  <div class="box box1"></div>
                                  <a href="" class="mt-5 d-flex ml-auto mr-5 justify-content-end"><app-lmm-button ButtonText="read more"></app-lmm-button></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- <div class="services_box">
          <h1 class="lmm_h5_stroke">MOTION DESIGN 3D DESIGN ANIMATION</h1>
          <div class="row">
              <div class="col-1"></div>
              <div class="col-md-11">
                  <h1 class="lmm_h5">branding</h1>
                  <div class="row mb-5 pb-5">
                      <div class="col-md-5 d-flex justify-content-center align-items-end">
                          <div class="content">
                              <p class="pr-5 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda beatae inventore nisi est voluptatibus praesentium commodi eligendi eveniet nesciunt aliquam? Voluptatibus magnam dolorum, possimus veniam molestiae ipsa quam! Eligendi assumenda ab quisquam illo sunt odit, exercitationem harum earum iure ipsam voluptatum animi suscipit molestias magnam vero praesentium consequuntur officia at.</p>
                              <a href="" class="lmm_arrow_btn mt-5"><i>&#8594;</i>view work</a>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="box"></div>
                              </div>
                              <div class="col-md-6 pr-5">
                                  <div class="box box1"></div>
                                  <a href="" class="lmm_btn mt-5 d-block ml-auto mr-5">read more</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="services_box">
          <h1 class="lmm_h5_stroke">MOTION DESIGN 3D DESIGN ANIMATION</h1>
          <div class="row">
              <div class="col-1"></div>
              <div class="col-md-11">
                  <h1 class="lmm_h5">marketing</h1>
                  <div class="row mb-5 pb-5">
                      <div class="col-md-5 d-flex justify-content-center align-items-end">
                          <div class="content">
                              <p class="pr-5 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda beatae inventore nisi est voluptatibus praesentium commodi eligendi eveniet nesciunt aliquam? Voluptatibus magnam dolorum, possimus veniam molestiae ipsa quam! Eligendi assumenda ab quisquam illo sunt odit, exercitationem harum earum iure ipsam voluptatum animi suscipit molestias magnam vero praesentium consequuntur officia at.</p>
                              <a href="" class="lmm_arrow_btn mt-5"><i>&#8594;</i>view work</a>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="box"></div>
                              </div>
                              <div class="col-md-6 pr-5">
                                  <div class="box box1"></div>
                                  <a href="" class="lmm_btn mt-5 d-block ml-auto mr-5">read more</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="services_box">
          <h1 class="lmm_h5_stroke">MOTION DESIGN 3D DESIGN ANIMATION</h1>
          <div class="row">
              <div class="col-1"></div>
              <div class="col-md-11">
                  <h1 class="lmm_h5">apps and websites</h1>
                  <div class="row mb-5 pb-5">
                      <div class="col-md-5 d-flex justify-content-center align-items-end">
                          <div class="content">
                              <p class="pr-5 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda beatae inventore nisi est voluptatibus praesentium commodi eligendi eveniet nesciunt aliquam? Voluptatibus magnam dolorum, possimus veniam molestiae ipsa quam! Eligendi assumenda ab quisquam illo sunt odit, exercitationem harum earum iure ipsam voluptatum animi suscipit molestias magnam vero praesentium consequuntur officia at.</p>
                              <a href="" class="lmm_arrow_btn mt-5"><i>&#8594;</i>view work</a>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="box"></div>
                              </div>
                              <div class="col-md-6 pr-5">
                                  <div class="box box1"></div>
                                  <a href="" class="lmm_btn mt-5 d-block ml-auto mr-5">read more</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
</div>
