<div class="hero_banner about_banner">
  <div class="container-fluid overflow-hidden">
    <div class="banner_video">
      <video src="assets/media/video/lmm_aboutus.mp4" autoplay muted loop></video>
    </div>
      <div class="row">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
              <div class="content_box w-100 text-white">
                  <h1 class="lmm_h1 text-white">about us</h1>
                  <p class="text-justify text-white">We love working with ambitious businesses who are new age, adaptive and think differently — across entertainment, technology, lifestyle and retail among other industries. We create engaging experiences that attract attention and audiences, drive business and acquire fans. Driven by a hunger for excellence we make sure you convey your message clearly with the help of concepts and communication both meaningful and creative that not only interacts and engages with your audience but also helps increase your brand recall value. </p>
                  <a class="d-block mt-5"><app-lmm-button ButtonText="our work" link="/ourwork"></app-lmm-button></a>
              </div>
          </div>
      </div>
  </div>
</div>
<section class="about">
  <div class="about_wrap_1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto">
          <p class="text-justify">Hyper-rich designs, inventive strategies, and cutting-edge technologies are at the core of how we help brands worldwide. We are marketing mavericks, sharp-witted strategists, visionary designers, motion maniacs and geeky coders. We place ideas that are fresh, bold, sometimes disruptive, but always effective, well-researched and backed by data-driven strategies, at the forefront in the cluttered agency landscape. Loud Mob Media is where we bring loud storytelling/stories to life with some of the coolest designs, strategies and technologies that connect with the digital consumers of today.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about_wrap_2">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <h1 class="lmm_h1_stroke">culture @ loud mob media</h1>
      </div>
      <div class="row">
        <div class="col-md-10 m-auto">
          <p class="text-white text-justify">we've been doing things differently before it was cool. With a culture of innovation, passion and pushing boundaries, we're very focused on people at every step of the journey. In the constantly changing markets, we're nimble, dynamic and without exception, one step ahead of the curve, to craft groundbreaking solutions that place the complex, curious consumers at the core of our creative and strategic capabilities. By understanding what makes us different in the cluttered agency landscape , we accelerate fresh visions forward for some of the most intelligent,cool and agile business across the globe.</p>
        </div>
      </div>
      <div class="row">
        <div class="monkey_skating">
          <app-scrolltide content="assets/media/images/about_skating.png" type="image" time="2"></app-scrolltide>
        </div>
      </div>
    </div>
  </div>
  <div class="about_wrap_3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h1 class="lmm_h1 mb-5 pb-5">the mob</h1>
          <p class="text-justify my-5 py-5">Behind all the great work we do, there are people that think differently. When you meet the Mob, you will notice almost instantly that we are very different from one another. We’re people who represent the humans in the digital age, we identity as creators, innovators and critical thinkers; tactfully defiant, we’re people who care deeply about achieving aesthetic perfection; unafraid to test bold ideas and every inch digital native, we work in close collaboration with one another to create strategic values and build capabilities with each unique solution to modern business needs.</p>
        </div>
      </div>
      <div class="grid">
        <a class="grid__item" href="#preview-1">
          <div class="box">
            <div class="box__shadow"></div>
            <img class="box__img" src="../../../assets/media/images/team.jpg" alt="Some image"/>
            <h3 class="box__title"><span class="box__title-inner" data-hover="Memo">Memo</span></h3>
            <h4 class="box__text"><span class="box__text-inner">Beast</span></h4>
            <!-- <div class="box__deco">&#10014;</div> -->
            <!-- <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p> -->
          </div>
        </a>
        <a class="grid__item" href="#preview-2">
          <div class="box">
            <div class="box__shadow"></div>
            <img class="box__img" src="../../../assets/media/images/Asset 35.png" alt="Some image"/>
            <h3 class="box__title box__title--straight box__title--bottom"><span class="box__title-inner" data-hover="Gun">Gun</span></h3>
            <h4 class="box__text box__text--bottom"><span class="box__text-inner box__text-inner--rotated1">Rain</span></h4>
            <!-- <div class="box__deco box__deco--top">&#10115;</div> -->
          </div>
        </a>
        <a class="grid__item" href="#preview-2">
          <div class="box">
            <div class="box__shadow"></div>
            <img class="box__img" src="../../../assets/media/images/Asset 35.png" alt="Some image"/>
            <h3 class="box__title box__title--straight box__title--bottom"><span class="box__title-inner" data-hover="Gun">Gun</span></h3>
            <h4 class="box__text box__text--bottom"><span class="box__text-inner box__text-inner--rotated1">Rain</span></h4>
            <!-- <div class="box__deco box__deco--top">&#10115;</div> -->
          </div>
        </a>
        <a class="grid__item" href="#preview-2">
          <div class="box">
            <div class="box__shadow"></div>
            <img class="box__img" src="../../../assets/media/images/Asset 35.png" alt="Some image"/>
            <h3 class="box__title box__title--straight box__title--bottom"><span class="box__title-inner" data-hover="Gun">Gun</span></h3>
            <h4 class="box__text box__text--bottom"><span class="box__text-inner box__text-inner--rotated1">Rain</span></h4>
            <!-- <div class="box__deco box__deco--top">&#10115;</div> -->
          </div>
        </a>
        <a class="grid__item" href="#preview-2">
          <div class="box">
            <div class="box__shadow"></div>
            <img class="box__img" src="../../../assets/media/images/Asset 35.png" alt="Some image"/>
            <h3 class="box__title box__title--straight box__title--bottom"><span class="box__title-inner" data-hover="Gun">Gun</span></h3>
            <h4 class="box__text box__text--bottom"><span class="box__text-inner box__text-inner--rotated1">Rain</span></h4>
            <!-- <div class="box__deco box__deco--top">&#10115;</div> -->
          </div>
        </a>
        <a class="grid__item" href="#preview-2">
          <div class="box">
            <div class="box__shadow"></div>
            <img class="box__img" src="../../../assets/media/images/Asset 35.png" alt="Some image"/>
            <h3 class="box__title box__title--straight box__title--bottom"><span class="box__title-inner" data-hover="Gun">Gun</span></h3>
            <h4 class="box__text box__text--bottom"><span class="box__text-inner box__text-inner--rotated1">Rain</span></h4>
            <!-- <div class="box__deco box__deco--top">&#10115;</div> -->
          </div>
        </a>
        <a class="grid__item" href="#preview-2">
          <div class="box">
            <div class="box__shadow"></div>
            <img class="box__img" src="../../../assets/media/images/Asset 35.png" alt="Some image"/>
            <h3 class="box__title box__title--straight box__title--bottom"><span class="box__title-inner" data-hover="Gun">Gun</span></h3>
            <h4 class="box__text box__text--bottom"><span class="box__text-inner box__text-inner--rotated1">Rain</span></h4>
            <!-- <div class="box__deco box__deco--top">&#10115;</div> -->
          </div>
        </a>
        <a class="grid__item" href="#preview-11">
          <div class="box">
            <div class="box__shadow"></div>
            <img class="box__img" src="../../../assets/media/images/Asset 35.png" alt="Some image"/>
            <h3 class="box__title box__title--straight box__title--left"><span class="box__title-inner" data-hover="Grit">Grit</span></h3>
            <h4 class="box__text box__text--bottom box__text--right"><span class="box__text-inner box__text-inner--rotated3">Mud</span></h4>
            <!-- <div class="box__deco box__deco--top">&#10153;</div> -->
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="about_wrap_4 footer_monkey">
    <div class="container-fluid">
      <div class="landing_footer">
        <div class="row position-relative">
          <div class="footer_des w-50 m-auto">
            <p class="text-white text-left">Have a project in mins ?</p>
            <span class="lmm_h1 text-white my-5 d-block">Let's have some fun together !</span>
            <a href="" class="d-block mt-5"><app-lmm-button ButtonText="reach out"></app-lmm-button></a>
          </div>
          <div class="footer_video ml-auto">
            <video src="../../../assets/media/video/footer_jumpingvideo.mp4" muted autoplay loop></video>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>
<div class="overlay">
  <div class="overlay__reveal"></div>
  <div class="overlay__item" id="preview-11">
    <div class="box">
      <div class="box__shadow"></div>
      <img class="box__img box__img--original" src="../../../assets/media/images/Asset 35.png" alt="Some image"/>
      <h3 class="box__title box__title--straight box__title--left"><span class="box__title-inner">Grit</span></h3>
      <h4 class="box__text box__text--bottom box__text--right"><span class="box__text-inner box__text-inner--rotated3">Mud</span></h4>
      <div class="box__deco box__deco--top">&#10153;</div>
    </div>
    <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
  </div>
  <button class="overlay__close"><svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg></button>
</div>


