/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: "VBold";
  src: url(./assets/fonts/VisbyCF_Bold.otf) format('opentype') ;
}
@font-face{
  font-family: "VEbold";
  src: url(./assets/fonts/VisbyCF_ExtraBold.otf) format('opentype') ;
}
@font-face{
  font-family: "VHeavy";
  src: url(./assets/fonts/VisbyCF_Heavy.otf) format('opentype') ;
}
@font-face{
  font-family: "VMedium";
  src: url(./assets/fonts/VisbyCF_Medium.otf) format('opentype') ;
}
@font-face{
  font-family: "VRegular";
  src: url(./assets/fonts/VisbyCF_Regular.otf) format('opentype') ;
}
/* ====common===== */
body,html{
  font-size: 15px !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: none !important;
}
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #999;
  cursor: none !important;
}
a:hover{
  text-decoration: none;
  color: #999;
  cursor: none !important;
}

img{
  vertical-align: bottom;
}

.lmm_marquee{
  width:100%;
  overflow: hidden;
  z-index: -1;
}
.lmm_marquee_container{
  position: relative;
  width: max-content;
}
.lmm_marquee_content{
  display: flex;
}
.lmm_marquee .lmm_marquee_content h1{
  padding: 0px 3rem;
  margin: 0;
}

.logo{
  width: 4.5rem;
  height: 4.5rem;
}
a.nav-link{
  font: 1.2rem VBold,sans-serif !important ;
}

.lmm_h1{
  font: 8.5rem VHeavy ,sans-serif !important;
  line-height: 8.5rem;
  color: #494949;
}

.lmm_h1_regular{
  font: 8.33rem VBold,sans-serif !important;
  color: #696969;
  font-weight: 800;
}
.lmm_h5{
  font: 3.75rem VHeavy,sans-serif !important;
  line-height: 55px;
  color: #494949;
}
p{
  font: 1.5rem VMedium ,sans-serif !important;
  color: #232323;
  /* cursor: context-menu; */
}

.lmm_h1_stroke{
  font: 25rem vHeavy,sans-serif !important;
  color: transparent;
  -webkit-text-stroke: 2px #494949;
  /* pointer-events: none; */
}
.lmm_h5_stroke{
  font: 5rem vHeavy,sans-serif !important;
  color: transparent;
  -webkit-text-stroke: 1px #222;
}
a.lmm_arrow_btn{
  font: 1.66rem VMedium,sans-serif !important;
  font-weight: 700 !important;
  line-height: 30px;
  display: inline-flex;
  margin-left: 0%;
  margin-top: 5rem;
  color: #757575;
  position: relative;
}
a.lmm_arrow_btn::after{
  content: '';
  position: absolute;
  top: 8%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: url(./assets/media/images/link_arrow.png) no-repeat;
  background-size: 4rem;
  background-position: 70% center;
}
a.lmm_arrow_btn i{
  color: #00e6d7;
  font-size: 4.66rem;
  margin-top: -2rem;
  margin-right: 1rem;
}
.herobanner .lmm_h1{
  line-height: 7rem;
}
.hero_banner{
  width: 100%;
  height: 100vh;
}
.hero_banner .col-md-4{
  height: 100vh;
}
.hero_banner .content_box{
  transform: translate(25% , -20%);
}
.footer_monkey{
  background: #4d4d4d;
  /* margin-top: 5rem; */
}

@media screen and (max-width: 1880px){
  .lmm_h1{
    font-size: 8rem !important;
  }
  .lmm_h1_stroke{
    font-size: 21rem !important;
  }
  p{
    font-size: 1.6rem !important;
  }

}/*====max-width-1920px=====*/
@media screen and (max-width : 1520px){
  body,html{
    font-size: 14px !important;
  }
  .lmm_btn{
    width: 220px;
  }
  .lmm_h1{
    font-size: 7rem !important;
  }
  .navbar-brand.mt-2.ml-4{
    margin-left: 1rem !important;
  }
  .logo{
    width: 5.5rem;
    height: 5.5rem;
  }
} /*max-width : 1520px*/
@media screen and (max-width : 1200px){
  body,html{
    display: none;
  }

}


/* ==========plugins============ */

/* ====lmm_btn======== */
.lmm_btn{
  background: transparent;
  padding: 15px 0;
  width: 220px;
  font: 1.2rem VBold , sans-serif !important;
  color: #00e6d7;
  font-weight: 100;
  text-align: center;
  border-radius: 0 40px 0 40px;
  display: block;
  border: 2.5px solid #00e6d7;
  z-index: 99;
  /* cursor: pointer; */
}
.lmm_btn:hover{
  color: #fff;
  background: #00e6d7;
}


/* =======lottieplayer====== */
.lmm_lottie{
  position: relative;
}
.lmm_lottie .lottie_thumbnail{
  position: absolute;
  top: 0;
  left: 0;
}
.lmm_lottie .lmm_lottie_player{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

/* ==========rail-text======= */
.lmm_rail_plugin{
  width: 100%;
  overflow: hidden;
}
.lmm_rail_plugin .lmm_h5_stroke{
  display: inline;
  padding: 0 2rem;
  white-space: pre;
}
.lmm_rail_content{
  display: flex;
}
.lmm_rail_container{
  width: max-content;
}


/* ========scrollTide ======= */
.scrolltideText{
  width: 100%;
}



/* ====Social===== */
.social-left{
  position: fixed;
  top: 22%;
  left: 0;
  z-index: 98;
}
.social-left svg{
  width: 19.5px;
  height: 19.5px;
}
.st0{
  fill:#494949;
}
.social-left svg.behance:hover .st0{
  fill: #053eff;
}
.social-left svg.instagram:hover .st0{
  fill: #dd2a7b;
}
.social-left svg.pinterest:hover .st0{
  fill: #c8232c;
}
.social-left img{
  width: 1.3rem;
  right: 1.3rem;
}
.ul-sLeft{
  padding: 10px 5px 10px 4.2px ;
  margin: 0;
  display: inline-block;
  background: #d4f4f2;

}
.ul-sLeft li{
  margin: 0.2rem;
  text-align: center;
}
.ul-sLeft li a{
  padding: 0.2rem;
  display: inline-block;
  font-family:Vextrabold,sans-serif !important ;
  color: #222;
  font-size:1.3rem;
}
.social-right{
  position: fixed;
  top: 22%;
  right: 0;
  z-index: 98;
}
.s-right img{
  width: 40px;
  height: 145px;
}






/* ======header===== */
.lmm_header{
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}
.nav-item a{
  color: #b2b2b2;
}
.nav-item a.active{
  color: #232323 ;
}
 .nav-item.active a.active{
  color: #b2b2b2 ;
}
.nav-item.active a{
  color: #232323;
}




/* =========footer======== */
.monkey_wrap{
  background: #4f4f4f;
  /* margin-top: 5rem; */
}
.monkey_wrap video{
  width: 78%;
  height: 92%;
  transform: translate(25%,5%);
  z-index: 1;
}
.footer_des{
  position: absolute;
  bottom: 26%;
  left: 10%;
  z-index: 2;
}
.monkey_wrap p{
  font: 3rem VMedium,sans-serif !important;
  letter-spacing: 0.2rem;
  font-weight: 400;
}
.monkey_wrap .lmm_h1{
  font: 5.25rem VHeavy,sans-serif !important;
  line-height: 6.25rem;
}
.footer_video{
  z-index: 1;
  overflow: hidden;
}




/* ====================================================================
                                pages
====================================================================== */



/* =====banner====== */
.banner{
  position: relative;
  width: 100%;
  height: calc(100vh);
  overflow: hidden;
  z-index: 2;
  top: 120px;
}
.banner video{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  transform: translateY(-6%);
  z-index: -1;
}
.banner .banner_content{
  transform: translate(25% ,10%);
}
.banner_content .lmm_h1{
  margin: -2.5rem 0;
}
.banner .dot{
  display: block;
  width: 45px;
  height: 45px;
  line-height: 8rem;
  margin: 2rem 0.7rem 1rem auto;
  background: #494949;
  border-radius: 50%;
}
.banner .lmm_btn{
  position: absolute;
  bottom: 23%;
  right: 5%;
}
/* .scrolltrigger{
  width: 100%;
  padding-top: 6%;
  transform: translateY(-20%);
  overflow: hidden;
} */
.short_video{
  width: 100%;
  height: 610px;
  position: relative;
  border-radius: 10px 10px 15px 15px;
  overflow: hidden;
  transform: translateX(-7%);
  z-index: 1;
}
.short_vido::after{
  content: 'Loud Mob Media';
  font: 4rem VHeavy,sans-serif !important;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100,100,100,0.3);
}
.short_video video{
  width: 100%;
  height: 100%;
}
.main_video{
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100vh;
  z-index: 99;
  display: none;
  transition: width 0.5s;
}
.main_video video{
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
button.video_btn{
  position: absolute;
  bottom: 2%;
  right: 2%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #00e6d7;
  font-size: 1.5rem;
  display: inline-flex;
  width: 60px;
  height: 60px;
  border-radius: 50% 50%;
  border: none;
  outline: none;
}
button.sound{
  display: none;
  background: url(./assets/media/cursorAnimaion/unmute.png) #00e6d7 no-repeat;
  background-size: 2rem ;
  background-position: center;
}
button.video_btn.mute{
  background: url(./assets/media/cursorAnimaion/mute.png) #00e6d7 no-repeat;
  background-size: 2rem ;
  background-position: center;
}
button.video_btn.mute::after{
  content: "";
}
/* button.video_btn.sound::after{
} */
.show_reel .content_box{
  width: 70%;
  margin: auto;
}
.scrolltrigger{
  width: 100%;
  overflow: hidden;
  transform: translateY(-40%);
  z-index: -1;
  pointer-events: none;
}
.show_reel .lmm_h1_stroke{
  transform: translateX(-10%);
}
.our_recent{
  margin-top: -13rem;
}
.our_recent .lmm_h1{
  font-size: 7rem !important;
  line-height: 6rem;
  margin: -2rem 0;
}
.our_recent_card{
  position: relative;
  border-radius: 10px 10px 17px 18px;
  overflow: hidden;
  margin: 5rem 0;
  height: 600px;
}
.our_recent_card p{
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 1;
  font : 1.75rem Vbold,sans-serif !important;
  color: #fff;
  font-weight: 100;
  text-align: justify;
}
.our_recent a.lmm_arrow_btn::after{
  background-position: 90% center;
}
.home_services{
  position: relative;
  /* overflow: hidden; */
}
.home_services .scrolltrigger{
  transform: none;
}
.home_services .lmm_h1_stroke{
  transform: translateX(-20%);
}
.home_services p{
  text-align-last: center;
  width: 80%;
}
.home_services .lmm_btn{
  margin-right: 4%;
}
.home_services .lmm_h5{
  /* cursor: pointer; */
  outline: none;
}
.home_services li{
    padding: 0.4rem 0;
    text-transform: uppercase;
    font: 31px VMedium,sans-serif;
    letter-spacing: 0.1rem;
    color: #232323;
}
.home_services .lottie{
  width: 100%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.home_services #LottieDesign{
  margin: auto;
  width: 95% !important;
  height: 95% !important;
}
.home_services .lmm_marquee{
  transform: translateY(-210%);
}
.home_services .lmm_marquee_plugin{
  position: absolute;
  bottom: 3%;
}

.lmm_landing_3{
  background: rgba(79, 79, 79, 1);
}
.skating{
  padding: 15rem 0;
  position: relative;
  overflow: hidden;
}
.skatingImg{
  position: absolute;
  top: 16%;
  left: -40%;
  height: 800px;
  z-index: 10;
  pointer-events: none;
}
.skatingImg img{
  height: 800px;
}
.skating_title .lmm_h1:nth-child(3){
  letter-spacing: 0.3rem;
}
.skating_title{
  transform: translateX(-25%);
}
.skating_des{
  width: 70%;
}
.client{
  margin-top: 6.5rem;
  padding-bottom: 6.5rem;
  /* margin-bottom: 6rem; */
}
.client .lmm_h5{
  margin-left: 8rem;
  margin-bottom: 8rem;
}
.slider{
  overflow: hidden;
}
.slider img{
  width: 125%;
  height: 440px;
  transform: translateX(0);
  animation: slider 10s linear infinite;
  -webkit-animation: slider 10s linear infinite;
}
@keyframes slider{
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(-100%);
  }
}
@-webkit-keyframes slider{
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(-100%);
  }
}
/* .landing_footer video{
  width: 78%;
  height: 92%;
  transform: translate(25%,5%);
  z-index: 1;
}
.footer_des{
  position: absolute;
  bottom: 26%;
  left: 10%;
  z-index: 2;
}
.landing_footer p{
  font: 3rem VMedium,sans-serif !important;
  letter-spacing: 0.2rem;
  font-weight: 400;
}
.landing_footer .lmm_h1{
  font: 6.25rem VHeavy,sans-serif !important;
  line-height: 6.25rem;
}
.footer_video{
  z-index: 1;
  overflow: hidden;
} */


@media screen and (max-width : 1880px){
  .short_video{
    width: 1015px;
    height: 570px;
    transform: translateX(0);
  }
}/*max-width - 1880px*/
@media screen and (max-width: 1800px){
  .short_video{
    width: 850px;
    height: 477px;
    transform: translateX(0);
  }
  .show_reel .content_box{
    width: 80%;
    margin: 0;
    margin-left: auto;
    padding-right: 2.5rem;
  }
  .scrolltrigger{
    transform: translateY(-25%);
  }
  .our_recent{
    margin-top: -10rem;
  }
  .slider img{
    height: 370px;
  }
  .landing_footer video {
    transform: translateX(10%);
  }
  .skatingImg{
    top: 18%;
    height: 750px;
  }
} /*====max-width - 1800=====*/
@media screen and (max-width : 1520px){
  .banner video{
    transform: translateY(2%);
  }
  .banner .banner_content{
    transform: translate(34%,-2%);
  }
  .short_video{
    width: 724.25px;
    height: 407px;
  }
  .slider img{
    height: 293px;
  }
  .landing_footer video{
    transform: translateX(70%);
    width: 60%;
  }
  .our_recent .w-25{
    width: 32% !important;
  }
} /*max-width : 1600px*/











/* ========services page======== */











/* .services_banner{
  position: relative;
} */
.services_banner video{
  position: absolute;
  bottom: 0;
  right: 0%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.services_banner .content_box{
  transform: translate(25% , 35%);
}
.services_banner a.lmm_arrow_btn{
  transform: translate(35% , 100%);
}
.services_banner a.lmm_arrow_btn::after{
  left: -85%;
}
.service_hero .box{
  width: 85%;
  height: 400px;
  background: #222;
  vertical-align: bottom;
  border-radius: 10px;
  transform: translateY(30%);
}
.service_hero .lmm_h5{
  font-size: 7rem !important;
}
.service_hero .lmm_h5_stroke{
  font-size: 4rem !important;
}
.service_hero .service_btn{
  margin: 11rem 4.5rem auto auto;
}
.service_hero .services_box{
  position: relative;
  margin: 80px 0;
}
.services_box .lmm_marquee_plugin{
  position: absolute;
  top: 20%;
  left: 0%;
  width: 100%;
}
.service_hero .services_box:nth-child(1){
  margin-top: 150px;
}
.box1{
  background: #00e6d7 !important;
}
/* =========services Detail======== */
.srviceDetail .lottie_player{
  width: 80%;
  margin: auto;
}
.srviceDetail .hero_banner .content_box{
  transform: translate(25% , 0%);
}
.srviceDetail .hero_banner a.lmm_arrow_btn{
  transform: translateX(70%);
}
#apps_Websites{
  width: 100%;
  height: 75vh;
}

/* =====our work====== */

.ourwork_banner{
  height: 85vh;
}
.ourwork_banner video{
  width: 80%;
  height: 80vh;
}
.ourwork_banner .content_box .lmm_h1:nth-child(1){
  font-size: 6rem !important;
  margin-bottom: -3rem;
}
.ourwork_banner .content_box a.lmm_arrow_btn{
  margin: 1rem 0 3rem 6rem;
}
.ourwork_banner .content_box a.lmm_arrow_btn::after{
  left: -90%;
}
/* .ourwork_tabs .nav-tabs{
  border: none;
  font: 2rem VHeavy ,sans-serif !important;
}
 .ourwork_tabs .nav-link.active ,.ourwork_tabs .nav-link{
   position: relative;
   border: none;
  font: 2rem VHeavy ,sans-serif !important;
  margin: 1rem 2rem;
}
.ourwork_tabs .nav-link span{
  display: block;
  width: 0;
  height: 3px;
  background-color: #232323;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s all linear;
  transform-origin: left bottom;
}
.ourwork_tabs .nav-link:hover span{
  width: 100%;
}
.ourwork_tabs .tab-content{
  margin: 5rem 2.5rem 7rem 2.8rem;
} */
.ourwork_tabs .tabs{
  display: flex;
  margin-bottom: 7rem;
}
.ourwork_tabs .tabs li{
  display: inline;
}
.ourwork_tabs .tabs li a{
  font: 2rem VHeavy ,sans-serif !important;
  margin: 5rem 2.5rem 7rem 2.8rem;
}
.ourwork_tabs .tabs li a.active{
  color: #232323;
}
.ourwork_tabs .tabs li a:hover{
  color: #232323;
}
.work-card-img img,.work-card-img video{
  width: 50rem;
  height: 50rem;
  margin: auto;
}
/* .ourwork_tabs .nav-link{
  border
} */
/* .ourwork_tabs img{
  width: 100%;
  height: 100%;
}
.ourwork_tabs video{
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.ourwork_tabs .media{
  width: 90%;
  height: 100%;
  margin: auto;
  display: block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.ourwork_tabs .media::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100,100,100,0.3);
  display: none;
} */
/* .ourwork_tabs .media:hover::after{
  display: block;
} */
/* =====blogs====== */
.blogs_banner{
  margin-bottom: 10rem;
  overflow: hidden;
}
.blogs_banner video{
  position: absolute;
  top: -10.5%;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
}
.blogs_banner .content_box{
  transform: translate(25%,25%);
}
.blogs .card{
  max-width: 603px;
  max-height: 570px;
  margin: 15% auto 15%;
  border: none !important;
  background: #999;
  position: relative;
  overflow: hidden;
  /* cursor: pointer; */
  z-index: 1;
  border-radius: 6px;
  left: 10%;
  /* cursor: pointer; */
}
/* .blogs .card .hover{
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  opacity: 0;
}
.blogs .card:hover .hover{
  top: 0%;
  opacity: 1;
} */
.blogs .col-md-6:nth-child(even) .card{
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translateX(-50%);
}
.dialog .card-body{
  height: 80vh;
  overflow: auto;
}
.dialog .card-body::-webkit-scrollbar{
  display: none;
}
.dialog button{
  border: none;
  outline: none;
}

/* =========blogDetail========== */
.blogDetail_banner{
  height: 50vh !important;
}
.blogDetail_banner img{
  width: 100%;
  height: 50vh;
}
.blogDetail_wrap_2{
  margin: 10rem 0;
}
.blogDetail_wrap_2 .lmm_h1{
  font-size: 7rem !important;
}
.blogDetail_wrap_2 img{
  width: 80%;
  height: auto;
  border-radius: 6px;
}
.blogDetail_wrap_2 .col-md-3{
  outline: none;
}
/* =========aboutus=============== */
.about_banner,.about_wrap_2,.about_wrap_4{
  background: #4f4f4f;
}
.about_banner{
  position: relative;
}
.about_banner .banner_video{
  position: absolute;
  top:0;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about_banner .banner_video video{
  width: 100%;
  min-height :100vh;
  /* transform: translateX(4%); */
}
section.about p{
  text-align-last: center;
}
.about_wrap_1 p{
  margin: 15rem 0;
  font: 2rem VMedium ,sans-serif !important;
  font-weight: 800;
}
.about_wrap_2 .lmm_h1_stroke{
  font-size: 9.5rem !important;
  -webkit-text-stroke: 2px #fff;
  margin: 5rem 0;
}
.about_wrap_2 p{
  margin: 5rem 0;
}
.about_wrap_2 .monkey_skating{
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.about_wrap_2 img{
  height: 40rem;
  transform: translate(-30rem,-8.55rem);
}
.about_wrap_3{
  padding: 10rem 0;
}
.about_wrap_3 img{
  width: 400px;
  height: 400px;
}
.about_wrap_4 p{
  text-align-last: left !important;
}

/* ======caseStudy======= */
.caseStudy_banner{
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
  font: 12rem VHeavy ,sans-serif !important;
  /* margin-bottom: 10rem; */
  overflow: hidden;
}
.caseStudy_banner::after{
  content: 'case studies';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.8;
  text-align: center;
}
.caseStudy_banner video{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50% , -50%);
  z-index: -1;
}
.caseStudy_banner .scroll{
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  text-align: center;
  /* cursor: pointer; */
}
.caseStudy_banner .scroll .lottie{
  width: 120px;
  height: 150px;
}
.lottie_box{
  margin: 5rem 0;
  position: relative;
  border-radius: 10px 10px 15px 15px;
  overflow: hidden;
  width: 100%;
  height: 600px;
  /* cursor: pointer; */
}
.lottie_box h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 2;
  width: 100%;
  text-align: center;
}
.caseStudy_wrap_2{
  background: rgba(79, 79, 79, 1);
}

/* =====caseStudy Detail========== */
.casestudy_banner{
  overflow: hidden;
  position: relative;
}
.casestudy_banner video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  width: 105%;
  height: 100vh;
}
.casestudy_detail-2 img{
  width: 100%;
}
.casestudy_detail-2 video{
  width: 100%;
  height: 100%;
  margin: -1rem 0;
}
/* ======our Process============== */
.ourProcess_banner{
  height: 65vh !important;
}
.ourProcess_banner .lmm_h1_stroke{
    font-size: 14rem !important;
    margin-bottom: 1.2rem;
}
.ourProcess_banner p{
  text-align-last: center;
}
.ourprocess_lottie{
  position: relative;
  margin: -8px 0;
}
.ourprocess_lottie .content_box{
  position: absolute;
  bottom: 9%;
  right: 21%;
  width: 33%;
  text-align: left;
  z-index: 100;
}
.ourprocess_lottie:nth-child(2) .content_box{
  right: 15%;
  bottom: 15%;
}
.ourprocess_lottie:nth-child(3) .content_box{
  right: 40%;
  bottom: 0%;
  text-align: right;
}
.ourprocess_lottie:nth-child(4) .content_box{
  right: 22%;
  bottom: 5%;
}
.ourprocess_lottie:nth-child(5) .content_box{
  right: 45%;
  bottom: -20%;
  text-align: right;
}
.ourprocess_lottie:nth-child(6) .content_box{
  right: 10%;
  bottom: 35%;
}
.ourprocess_lottie:nth-child(even) .content_box{
  text-align: left;
}
/* .ourprocess_lottie:nth */
.ourprocess_lottie .content_box h1{
  font : 2.5rem VHeavy,sans-serif !important;
  color: #00e6d7;
}
.ourprocess_lottie .content_box p{
  color: #00e6d7;
  margin: 2.5rem 0 !important;
  font: 1.5rem VRegular , sans-serif !important;

}
/* .ourProcess_banner .mat-body p, .mat-body-1 p, .mat-typography p {
  margin:  0 !important;
} */
.ourprocess_wrap_1{
  background: #4f4f4f;
}
@media screen and (max-width : 1820px){
  .ourProcess_banner .lmm_h1_stroke{
    font-size: 12rem !important;
  }
}/*max-width : 1820px*/
@media screen and (max-width : 1520px){
  .ourProcess_banner .lmm_h1_stroke{
    font-size: 10rem !important;
  }
}
/* =======contact======== */
.contact_banner{
  background: rgba(79, 79, 79, 1);
  position: relative;
}
.contact_banner .lmm_h1{
  font-size: 6.5rem !important;
}
.contact_banner video{
  position: absolute;
  right: 0;
  top: -3rem;
  width: 50%;
}
.contact_wrap_1 .lmm_h5_stroke{
  font-size: 9rem !important;
  text-transform: capitalize;
}
.contact_wrap_1 .lmm_btn:hover{
  color: #00e6d7;
  background: transparent;
}
.contact_wrap_1 .checkbox input{
  display: none;
}
.contact_wrap_1 .checkbox input[type="checkbox"]:checked~label{
  background: #00e6d7;
  color: #fff;
}
.contact_form_validation{
  text-align: left;
    margin-left: 7.5rem;
    margin-top: -1rem;
}
.contact_footer_wrap{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_footer_wrap a.lmm_h5{
  font-size: 2rem !important;
}
.mobLabs{
  background: #4f4f4f;
  padding-bottom: 10rem;
}
.mobLabs .hero_banner{
  height: 70vh;
}
.mobLabs .hero_banner p{
  text-align-last: center;
}
.mobLabs .content_box{
  z-index: 10;
}
.mobLabs .banner_content h1{
  margin: auto;
}
.mobLabs .banner_content .lmm_h1{
  font-size: 14rem !important;
}
.mobLabs .mob_lmm_marquee_plugin{
  transform: translateY(8rem);
}
.lab_wrap_1{
  margin-bottom: 15rem !important;
}
.lab_wrap_1 , .lab_wrap_2{
  min-height: 80vh;
  overflow: hidden;
}
.lab_wrap_1 .lmm_h1{
  z-index: 5;
}
.lab_wrap_1 video ,.lab_wrap_2 video{
  position: absolute;
  top: 35%;
  transform: translate(-10%,-40%);
  width: 85rem;
  z-index: 0;
}
.lab_wrap_1 video{
  left: 0%;
}
.lab_wrap_2 video{
  right: -10%;
}
.lab_wrap_1 .lmm_h5_stroke ,.lab_wrap_2 .lmm_h5_stroke{
  -webkit-text-stroke : 1px #fff;
  font-size: 6rem !important;
}
























/* =======angular material======== */
.mat-tab-header, .mat-tab-nav-bar{
  border : none !important;
}
.mat-tab-label .mat-tab-label-content{
  font: 2rem VHeavy ,sans-serif !important ;
  text-transform: lowercase;
}
.mat-tab-body-content{
  padding: 0 8%;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color:rgba(00,230,215,0.5) !important;
}
[mat-align-tabs=center]>.mat-tab-header .mat-tab-labels {
  justify-content: left !important;
  margin-left: 12rem;
}
 .mat-ripple:nth-child(1) .mat-tab-label-content{
  /* color: #232323 ; */
  opacity: 0.87;
}
.mat-tab-label:focus:not(.mat-tab-disabled){
  /* color: red !important; */
  opacity: 0.57 !important;
}
/*.mat-tab-label-active .cdk-focused .cdk-mouse-focused{
  color: red !important;
}
.mat-tab-label, .mat-tab-link{
  color:  blue;
} */
















.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 70%;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
  float: right;
	padding: 0 1em;
	width: 40%;
	color: #232323;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Individual styles */

/* Nao */
.input--nao {
	overflow: hidden;
	padding-top: 1em;
}

.input__field--nao {
	padding: 0.5em 0em 0.25em;
  width: 100%;
  height: 5rem;
	background: transparent;
	color: #232323;
	font-size: 1.25em;
}

.input__label--nao {
	position: absolute;
	top: 0rem;
	font-size: 2rem;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.graphic--nao {
  /* stroke: #92989e; */
  stroke: #232323;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  /* color: #333; */
  color: #232323;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  /* stroke: #333; */
  stroke: #232323;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}
.text_area{
  margin-top: 5rem;
  transform: translateX(-1rem);
}
.text_area label{
  font: 2.5rem Vbold,sans-serif;
  color: #232323;
  text-align: left;
}
.text_area textarea{
  border : 2px solid #232323;
  padding: 1rem;
    width: 100%;
    background: transparent;
    color: #232323;
    font-size: 1.25em;
}
.text_area textarea:focus{
  outline: #00e6d7;
}
.contact_footer_wrap button.lmm_btn{
  outline: none;
}




.lmm_marquee_plugin{
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.magnet {
  transition: transform .5s ease;
}







/* ========plugins========= */



/* =======plugins====== */
